.newdwelling-screen__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .newdwelling-screen__image {
    width: 90%;
    margin: 0 auto;
    border-radius: 30px;
    }
  
  .newdwelling-screen__image img {
    width: 100%;
    height: 100%;
  }
  
  .newdwelling-screen__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    isolation: isolate;
    height: 144px;
    width: 90%;
    margin: 30px 20px;
    padding: 0 50px;
  }
  
  @media (max-width: 960px) {
    .newdwelling-screen__text {
      background: #ffffff;
      border: 1px solid rgba(255, 255, 255, 0.5);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
        0px 20px 40px rgba(59, 64, 86, 0.15);
      border-radius: 30px;
    }
  }
  
  .newdwelling-screen__text__header {
    display: flex;
    justify-content: center;
    align-self: center;
  }
  
  .newdwelling-screen__text__header p {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #474C4F;
  }
  
  .newdwelling-screen__text__description {
    display: flex;
    justify-content: center;
    align-self: center;
  }
  
  .newdwelling-screen__text__description p {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: rgba(50, 52, 56, 0.6);
  }
  
  p {
    text-align: center;
  }
  